# To separate your traces from other application
LANGSMITH_PROJECT=new-agent

# Add API keys for connecting to LLM providers, data sources, and other integrations here
ZHIPUAI_API_KEY=9bfae62e3ed44c21af245a87f4377927.7s3CVFEnL3J24rWF
ZHIPUAI_DEFAULT_MODEL=glm-3-turbo